.pb*
.csv*
.png*
.jpg*

*.pyc
weights_biases/w6.csv
weights_biases/w5.csv
weights_biases/w4.csv
weights_biases/w3.csv
weights_biases/w2.csv
weights_biases/w1.csv
weights_biases/b6.csv
weights_biases/b5.csv
weights_biases/b4.csv
weights_biases/b3.csv
weights_biases/b2.csv
weights_biases/b1.csv
w6.csv
w5.csv
w4.csv
w3.csv
w2.csv
w1.csv
neutral_pred_maps.csv
LUTs/output_test_multi.csv
b6.csv
b5.csv
b4.csv
b3.csv
b2.csv
b1.csv
